# Content with notebooks

You can also create content with Jupyter Notebooks. This means that you can include
code blocks and their outputs in your book.

## Markdown + notebooks

As it is markdown, you can embed images, HTML, etc into your posts!

![](https://myst-parser.readthedocs.io/en/latest/_static/logo-wide.svg)

You can also $add_{math}$ and

$$
math^{blocks}
$$

or

$$
\begin{aligned}
\mbox{mean} la_{tex} \\ \\
math blocks
\end{aligned}
$$

But make sure you \$Escape \$your \$dollar signs \$you want to keep!

## MyST markdown

MyST markdown works in Jupyter Notebooks as well. For more information about MyST markdown, check
out [the MyST guide in Jupyter Book](https://jupyterbook.org/content/myst.html),
or see [the MyST markdown documentation](https://myst-parser.readthedocs.io/en/latest/).

## Code blocks and outputs

Jupyter Book will also embed your code blocks and output in your book.
For example, here's some sample Matplotlib code:

In [ ]:
from matplotlib import rcParams, cycler
import matplotlib.pyplot as plt
import numpy as np
plt.ion()

In [ ]:
# Fixing random state for reproducibility
np.random.seed(19680801)

N = 10
data = [np.logspace(0, 1, 100) + np.random.randn(100) + ii for ii in range(N)]
data = np.array(data).T
cmap = plt.cm.coolwarm
rcParams['axes.prop_cycle'] = cycler(color=cmap(np.linspace(0, 1, N)))


from matplotlib.lines import Line2D
custom_lines = [Line2D([0], [0], color=cmap(0.), lw=4),
                Line2D([0], [0], color=cmap(.5), lw=4),
                Line2D([0], [0], color=cmap(1.), lw=4)]

fig, ax = plt.subplots(figsize=(10, 5))
lines = ax.plot(data)
ax.legend(custom_lines, ['Cold', 'Medium', 'Hot']);

# **Program**

# **Tugas 1**


*   Cari *dataset* dari url
*   Tentukan *Dissimilarity*
*   Ukur Jarak d(1,2)
*   Ukur Jarak d(1,3)
*   Ukur Jarak d(1,4)

In [ ]:
import math
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/DataMining/student-dataset.csv')
data

,id,name,nationality,city,latitude,longitude,gender,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
0,0,Kiana Lor,China,Suzhou,31.31,120.62,F,NaN,22,3.5,3.7,3.1,1.0,4,4.0,4
1,1,Joshua Lonaker,United States of America,Santa Clarita,34.39,-118.54,M,NaN,22,2.9,3.2,3.6,5.0,5,4.0,5
2,2,Dakota Blanco,United States of America,Oakland,37.80,-122.27,F,NaN,22,3.9,3.8,3.2,5.0,3,3.0,4
3,3,Natasha Yarusso,United States of America,Castro Valley,37.69,-122.09,F,NaN,20,3.3,2.8,3.2,5.0,5,2.0,4
4,4,Brooke Cazares,Brazil,São José dos Campos,-23.18,-45.88,F,NaN,21,3.7,2.6,3.4,1.0,4,4.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,302,Austin Haas,United States of America,Columbus,39.96,-83.00,M,NaN,20,3.6,3.7,3.1,5.0,4,5.0,5
303,303,Madison Fithian,United States of America,Los Angeles,34.05,-118.24,F,NaN,20,3.6,3.9,4.0,5.0,5,5.0,3
304,304,Zachary Mulvahill,United States of America,Los Angeles,34.05,-118.24,M,NaN,20,3.2,3.4,3.9,5.0,5,5.0,3
305,305,Eliana Michelsen,United States of America,Oakland,37.80,-122.27,F,NaN,23,3.0,2.8,2.9,5.0,4,4.0,5
306,306,Dane Whittemore,Canada,Toronto,43.67,-79.42,M,NaN,21,3.8,3.2,4.0,5.0,5,4.0,5

In [ ]:
data.head()

,id,name,nationality,city,latitude,longitude,gender,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
0,0,Kiana Lor,China,Suzhou,31.31,120.62,F,NaN,22,3.5,3.7,3.1,1.0,4,4.0,4
1,1,Joshua Lonaker,United States of America,Santa Clarita,34.39,-118.54,M,NaN,22,2.9,3.2,3.6,5.0,5,4.0,5
2,2,Dakota Blanco,United States of America,Oakland,37.80,-122.27,F,NaN,22,3.9,3.8,3.2,5.0,3,3.0,4
3,3,Natasha Yarusso,United States of America,Castro Valley,37.69,-122.09,F,NaN,20,3.3,2.8,3.2,5.0,5,2.0,4
4,4,Brooke Cazares,Brazil,São José dos Campos,-23.18,-45.88,F,NaN,21,3.7,2.6,3.4,1.0,4,4.0,5

##**Menentukan Dissimilarity**

In [ ]:
def diss(i,j):
  p = 2
  m = 0
  for col in ['nationality', 'city']:
    if data[col][i] == data[col][j]:
      m+=1
  return (p-m)/p

In [ ]:
print(diss(1,2))
print(diss(1,3))
print(diss(7,8))
print(diss(18,21))

0.5
0.5
1.0
1.0

**##Numeric Attribute : Minkowski Distance**

In [ ]:
def diss2(i,j,h):
  result = 0
  for col in ["latitude", "longitude", "age"]:
    result = math.pow(abs((data[col][i]) - (data[col][j])), h)
  return result**(1/h)

**Manhattan Distance**

In [ ]:
print(diss2(0,1,1))
print(diss2(0,2,1))
print(diss2(0,3,1))

0.0
0.0
2.0

**Euclidean Distance**

In [ ]:
print(diss2(0,1,3))
print(diss2(0,2,3))
print(diss2(0,3,3))

0.0
0.0
2.0

There is a lot more that you can do with outputs (such as including interactive outputs)
with your book. For more information about this, see [the Jupyter Book documentation](https://jupyterbook.org)

# **Tugas 2**

**Distraksi**

Distraksi merupakan transformasi kolom menjadi type data lain. Tujuannya untuk membuat data menjadi lebih optimal yang nantinya memudahkan untuk di analisis

In [2]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

In [3]:
df = pd.read_csv("https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv")
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

**Equal-Width Intervals**

Equal-width intervals adalah distraksi yang membagi data numerik menjadi beberapa kelompok dengan lebar kelompok yang kurang lebih sama besar.

Mengambil sample data

In [4]:
data_sepal_length = df[["sepal.length"]]
data_sepal_width = df[["sepal.width"]]
data_petal_length = df[["petal.length"]]
data_petal_width = df[["petal.width"]]

Pandas Menyediakan method cut yang digunakan untuk mencari interval menggunakan metode Equal-width Intervals

In [5]:
def cut(col, k):
    intervals = pd.cut(df[col], k).value_counts().index.to_list()
    return [[interval.left, interval.right] for interval in intervals]

In [6]:
def toCategory(list_interval, col):
    # get length interval
    length = len(list_interval)

    # Sorting interval
    sort_interval = np.sort(list_interval, axis=0)
    # Get Category from intervala
    categories = np.array([chr(65+i) for i in range(length)])[:, None]
    # combine into interval data
    intervals = np.hstack((sort_interval, categories))

    # Operate All data
    newCol = []
    for i, row in df.iterrows():
        data = row[col]
        for interval in intervals:
            if data >= interval[0].astype(float) and data <= interval[1].astype(float):
                newCol.append(interval[2])
                break
    # return new coloumn category
    return np.array(newCol, dtype=str)

Mencari interval sebagai contoh disini dibagi menjadi 3 bagian

In [7]:
interval_sepal_length = cut("sepal.length", 3)
interval_sepal_width = cut("sepal.width", 3)
interval_petal_length = cut("petal.length", 3)
interval_petal_width = cut("petal.width", 3)

print("interval sepal.length :", interval_sepal_length)
print("interval sepal.width  :", interval_sepal_width)
print("interval petal.length :", interval_petal_length)
print("interval petal.width  :", interval_petal_width)

interval sepal.length : [[5.5, 6.7], [4.296, 5.5], [6.7, 7.9]]
interval sepal.width  : [[2.8, 3.6], [1.998, 2.8], [3.6, 4.4]]
interval petal.length : [[2.967, 4.933], [0.994, 2.967], [4.933, 6.9]]
interval petal.width  : [[0.9, 1.7], [0.0976, 0.9], [1.7, 2.5]]

Tampilkan hasil dari pembagian category

In [8]:
data_sepal_length["category"] = toCategory(interval_sepal_length, "sepal.length")
data_sepal_width["category"] = toCategory(interval_sepal_width, "sepal.width")
data_petal_length["category"] = toCategory(interval_petal_length, "petal.length")
data_petal_width["category"] = toCategory(interval_petal_width, "petal.width")

display(data_sepal_length)
display(data_sepal_width)
display(data_petal_length)
display(data_petal_width)

     sepal.length category
0             5.1        A
1             4.9        A
2             4.7        A
3             4.6        A
4             5.0        A
..            ...      ...
145           6.7        B
146           6.3        B
147           6.5        B
148           6.2        B
149           5.9        B

[150 rows x 2 columns]

     sepal.width category
0            3.5        B
1            3.0        B
2            3.2        B
3            3.1        B
4            3.6        B
..           ...      ...
145          3.0        B
146          2.5        A
147          3.0        B
148          3.4        B
149          3.0        B

[150 rows x 2 columns]

     petal.length category
0             1.4        A
1             1.4        A
2             1.3        A
3             1.5        A
4             1.4        A
..            ...      ...
145           5.2        C
146           5.0        C
147           5.2        C
148           5.4        C
149           5.1        C

[150 rows x 2 columns]

     petal.width category
0            0.2        A
1            0.2        A
2            0.2        A
3            0.2        A
4            0.2        A
..           ...      ...
145          2.3        C
146          1.9        C
147          2.0        C
148          2.3        C
149          1.8        C

[150 rows x 2 columns]

**Equal-frequency Intervals**

Equal-frequency intervals adalah distraksi yang membagi data numerik menjadi beberapa kelompok dengan jumlah anggota yang kurang lebih sama besar.

In [9]:
data_sepal_length = df[["sepal.length"]]
data_sepal_width = df[["sepal.width"]]
data_petal_length = df[["petal.length"]]
data_petal_width = df[["petal.width"]]

Pandas menyediakan method qcut untuk mencri nilai interval dari Equal-frequency Intervals

In [10]:
def qcut(col, k):
    intervals = pd.qcut(df[col], k).value_counts().index.to_list()
    return [[interval.left, interval.right] for interval in intervals]

Mencari interval sebagai contoh disini dibagi menjadi 3 bagian

In [11]:
interval_sepal_length = qcut("sepal.length", 3)
interval_sepal_width = qcut("sepal.width", 3)
interval_petal_length = qcut("petal.length", 3)
interval_petal_width = qcut("petal.width", 3)

print("interval sepal.length :", interval_sepal_length)
print("interval sepal.width  :", interval_sepal_width)
print("interval petal.length :", interval_petal_length)
print("interval petal.width  :", interval_petal_width)

interval sepal.length : [[5.4, 6.3], [4.2989999999999995, 5.4], [6.3, 7.9]]
interval sepal.width  : [[1.999, 2.9], [2.9, 3.2], [3.2, 4.4]]
interval petal.length : [[2.633, 4.9], [0.999, 2.633], [4.9, 6.9]]
interval petal.width  : [[0.867, 1.6], [0.099, 0.867], [1.6, 2.5]]

Tampilkan hasil dari pembagian category

In [12]:
data_sepal_length["cateogry"] = toCategory(interval_sepal_length, "sepal.length")
data_sepal_width["cateogry"] = toCategory(interval_sepal_width, "sepal.width")
data_petal_length["cateogry"] = toCategory(interval_petal_length, "petal.length")
data_petal_width["cateogry"] = toCategory(interval_petal_width, "petal.width")

display(data_sepal_length)
display(data_sepal_width)
display(data_petal_length)
display(data_petal_width)

     sepal.length cateogry
0             5.1        A
1             4.9        A
2             4.7        A
3             4.6        A
4             5.0        A
..            ...      ...
145           6.7        C
146           6.3        B
147           6.5        C
148           6.2        B
149           5.9        B

[150 rows x 2 columns]

     sepal.width cateogry
0            3.5        C
1            3.0        B
2            3.2        B
3            3.1        B
4            3.6        C
..           ...      ...
145          3.0        B
146          2.5        A
147          3.0        B
148          3.4        C
149          3.0        B

[150 rows x 2 columns]

     petal.length cateogry
0             1.4        A
1             1.4        A
2             1.3        A
3             1.5        A
4             1.4        A
..            ...      ...
145           5.2        C
146           5.0        C
147           5.2        C
148           5.4        C
149           5.1        C

[150 rows x 2 columns]

     petal.width cateogry
0            0.2        A
1            0.2        A
2            0.2        A
3            0.2        A
4            0.2        A
..           ...      ...
145          2.3        C
146          1.9        C
147          2.0        C
148          2.3        C
149          1.8        C

[150 rows x 2 columns]

**Entropy**

Entropy merupakan informasi yang menggambarkan seberapa konsisten pemisah akan cocok dengan pengklasifikasi

**Rumus :**

$Entropy(D_1) = -\sum_{i=1}^m p_i \ log{_2} \ p_i $

$Gain(E_{new}) = (E_{initial}) \ - (E_{new})$

$Info_A(D) = \frac{|D_1|}{|D|} Entropy (D_1)\frac{|D_2|}{|D|}+ Entropy (D_2)$

Membuat sample data untuk di analisi

In [13]:
sample = df[["sepal.length"]]
sample.describe()

       sepal.length
count    150.000000
mean       5.843333
std        0.828066
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000

Membuat category random untuk semua data

In [14]:
np.random.seed(0)
sample["category"] = np.where(np.random.choice(2, sample.shape[0]) < 1, "A", "B" )
sample

     sepal.length category
0             5.1        A
1             4.9        B
2             4.7        B
3             4.6        A
4             5.0        B
..            ...      ...
145           6.7        A
146           6.3        B
147           6.5        B
148           6.2        B
149           5.9        B

[150 rows x 2 columns]

Membuat fungsi getOverollCategory digunakan untuk menghitung data keseluruhan yang nantinya digunakan untuk menghitung entropy

In [15]:
def getOverollCategory(col):
    group = sample.loc[:, :].groupby("category").count()
    a = group.loc["A", col]
    b = group.loc["B", col]
    return (a, b, a+b)

Fungsi splitter digunakan untuk membuat split antara value yang telah di tentukan lalu mengembalikan data yang telah di pisahkan

In [16]:
def splitter(value:float, col:str)->tuple:
    # get data less and greater from value
    less = sample[sample[col] <= value]
    greater = sample[sample[col] > value]

    # calculate into category for each data
    less_group = less.loc[:, :].groupby("category").count()
    greater_group = greater.loc[:, :].groupby("category").count()

    # get value based on category
    less_category_A = less_group.loc["A", col]

    less_category_B = less_group.loc["B", col]
    greater_category_A = greater_group.loc["A", col]
    greater_category_B = greater_group.loc["B", col]

    return (
        [less_category_A, less_category_B, less_category_A + less_category_B],
        [greater_category_A, greater_category_B, greater_category_A + greater_category_B]
    )

Buat Fungsi entropy untuk mencari nilai entropy

In [17]:
def entropy(d):
    r1 = (d[0] / d[2]) * np.log2(d[0] / d[2])
    r2 = (d[1] / d[2]) * np.log2(d[1] / d[2])
    return np.sum([r1, r2]) * -1

Membuat fungsi info dan gain

In [18]:
def info(d):
    r1 = (d[0][2] / sample.shape[0])  * entropy(d[0])
    r2 = (d[1][2] / sample.shape[0]) * entropy(d[1])
    return r1 + r2

Fungsi gain untuk menghitung selsih antara entropy awal dengan yang baru

In [19]:
def gain(Einitial, Enew):
    return Einitial - Enew

Membuat Dinitial

In [20]:
D = getOverollCategory("sepal.length")
entropy_d = entropy(D)
print(D)
display(entropy_d)

(68, 82, 150)

0.993707106604508

Melakukan beberapa tes split untuk mencri informasi yang terbaik

*Split 1: 4.4*

In [21]:
split1 = splitter(4.4, "sepal.length")
info_split1 = info(split1)
gain(entropy_d, info_split1)

0.003488151753460178

*split 2: 5.5*

In [22]:
split2 = splitter(5.5, "sepal.length")
info_split2 = info(split2)
gain(entropy_d, info_split2)

0.012302155146638905

*split 3: 7.0*

In [23]:
split3 = splitter(7.0, "sepal.length")
info_split3 = info(split3)
gain(entropy_d, info_split3)

0.0005490214732508658